# General OS and IDE files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Node (Mobile & Website)
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
dist/
build/
out/

# Expo / React Native (Mobile)
.expo/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
ios/build/
ios/Pods/
android/app/build/
android/.gradle/

# Web frameworks
.next/
.nuxt/
.cache/
.vercel/

# Python (Backend)
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/
.coverage
htmlcov/
*.sqlite3
*.db
